<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.tom.playground">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.Camera" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="@string/parse_app_id" />

    <application
        android:name=".application.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".firebase.SignUpActivity" />
        <activity android:name=".firebase.LoginActivity" />
        <activity android:name=".firebase.ProfileActivity" />
        <activity android:name=".parse.ParseTestActivity" />
        <activity android:name=".dagger2.DaggerActivity" />
        <activity android:name=".rxjava.RxjavaActivity" />
        <activity
            android:name=".augmentedreality.AugmentedCameraActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".augmentedreality.HorizonActivity" />
        <activity android:name=".notes.NoteEditorActivity" />
        <activity android:name=".recommendation.RecommendedRead" />
        <activity android:name=".notes.NoteListActivity" />
        <activity android:name=".Retrofit.RetrofitActivity" />
        <activity android:name=".filehandling.FileHandlingActivity" />
        <activity android:name=".filehandling.DownloadActivity" />
        <activity android:name=".artuts.ArActivity" />
        <activity android:name=".constraintlayoutAnimation.ConstraintActivity" />
        <activity android:name=".unicodetest.UnicodeActivity" />
        <activity android:name=".unicodetest.SimActivity" />
        <activity android:name=".voicerecog.VoiceSeachActivity" />
        <activity android:name=".gsontester.GsonTestActivity" />
        <activity android:name=".gsontester.GsonJsonActivity" />
        <activity android:name=".volleytest.VolleyActivity" />
        <activity
            android:name=".collapsibletoolbar.Main2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".recyclerviewfilter.RecyclerFilterActivity"></activity>
    </application>

</manifest>